@charset "UTF-8";
section {
  margin: 0px 0px 0px 0px;
}

.application-card {
  max-height: 100vh;
  padding: 10px;
  background: var(--overlay, rgba(60, 75, 97, 0.6));
  /* overlay */
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
}
.application-card main {
  padding: 0px 0px 0px 0px;
  flex-grow: 0;
}

.app-card-wrapp {
  height: 100%;
  overflow: hidden;
  display: flex;
  border-radius: 10px;
  background: var(--BG-Light-grey, #eef1f5);
}
.app-card-wrapp.hide-options .agent-info,
.app-card-wrapp.hide-options .app-from,
.app-card-wrapp.hide-options .options {
  display: none;
}

.sidebar {
  position: relative;
  min-width: 370px;
  max-width: 35%;
  background: #fff;
}
.sidebar .title {
  min-width: 150px;
  color: var(--Text-Grey, #7786a5);
  /* Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.sidebar li {
  border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  color: var(--Text-Black, #2a344a);
  /* Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.sidebar li:last-child {
  border-bottom: none;
}
.sidebar .client-contacts {
  border-bottom: 5px solid var(--Stroke-Divider, #e1edfd);
}
.sidebar .client-contacts.closed {
  display: none;
}
.sidebar .client-contacts .sonra {
  display: none;
  color: var(--Text-Success, #0ab258);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding: 15px 20px;
}
.sidebar .client-contacts .sonra .button-primary {
  display: none;
}
.sidebar .client-contacts .sonra.active {
  display: block;
}
.sidebar .client-contacts .opened {
  display: none;
}
.sidebar .client-contacts .opened.active {
  display: block;
}
.sidebar .butt-open {
  display: none;
  align-items: center;
}
.sidebar .butt-open.rotate svg {
  transform: rotate(180deg);
}
.sidebar .butt-open.active {
  display: flex;
}
.sidebar .butt-open svg {
  cursor: pointer;
}
.sidebar .col {
  display: flex;
  flex-direction: column;
}
.sidebar .col .status {
  color: var(--Text-Black, #2a344a);
  /* Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.sidebar .col .name {
  color: var(--Text-Black, #2a344a);
  /* Platform/Accent_16 (S) */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
}
.sidebar .client {
  display: flex;
  gap: 15px;
  flex-grow: 1;
}
.sidebar .client .avatar img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar .app-from .left {
  width: 150px;
  color: var(--Text-Grey, #7786a5);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.sidebar .app-from .top {
  display: flex;
  gap: 15px;
  padding: 15px 20px;
  border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
}
.sidebar h5 {
  white-space: nowrap; /* Запрещаем перенос текста */
  overflow: hidden; /* Обрезаем текст, если он выходит за границы контейнера */
  text-overflow: ellipsis; /* Добавляем многоточие, если текст обрезан */
  display: inline-block;
  max-width: calc(100% - 160px);
  color: var(--Text-White, #fff);
  /* Platform/Desktop/H-5 M */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  display: inline-block;
}
.sidebar h5 span {
  display: none;
}
.sidebar h5 .app-id {
  position: absolute;
  top: 20px;
  right: 20px;
  white-space: nowrap;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.sidebar h5 .app-id span {
  display: inline-block;
}
.sidebar .options {
  /* Стилизация самого скроллбара */
  /* Стилизация дорожки (трек) */
  /* Стилизация ползунка (thumb) */
  /* Стилизация при наведении на ползунок */
  overflow-y: scroll;
}
.sidebar .options::-webkit-scrollbar {
  width: 5px; /* Ширина скроллбара */
}
.sidebar .options::-webkit-scrollbar-track {
  border-left: 1px solid var(--BG-Grey_Light_L, #f5f7f9);
  border-right: 1px solid var(--BG-Grey_Light_L, #f5f7f9);
}
.sidebar .options::-webkit-scrollbar-thumb {
  background: var(--Stroke-Light-Grey, #d4ddee);
  border-radius: 5px; /* Радиус закругления ползунка */
}
.sidebar .options::-webkit-scrollbar-thumb:hover {
  background: var(--Stroke-Light-Grey, #d4ddee);
}
.sidebar .options.max {
  max-height: calc(100vh - 455px);
}
.sidebar .options.max.min {
  max-height: calc(100vh - 197px);
}
.sidebar .options.min {
  min-height: calc(100vh - 282px);
  max-height: calc(100vh - 282px);
}
.sidebar .options.orta {
  max-height: 75vh;
  min-height: 75vh;
}
.sidebar .head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--Corner_radius_m, 10px) 0px 0px 0px;
  background: var(--BG-Black, #2a344a);
  padding: 20px;
}
.sidebar.custom {
  min-width: 380px;
}

.messeger {
  position: relative;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.messeger.null .wrapp {
  padding: 0px 0px 150px 0px;
}
.messeger .mess-input-container {
  flex: 1 0 0;
}
.messeger .mess-input-container input {
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.messeger .send-butt {
  border-radius: 10px;
  background: var(--BG-Disabled, #eff3fb);
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.messeger .butt-insert {
  border-radius: 10px;
  background: var(--Button-Primary-BG-Default, #4e6af3);
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
}
.messeger .send-form {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 20px;
}
.messeger .messeges {
  display: none;
}
.messeger .messeges.active {
  display: block;
}
.messeger .null-mess {
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.messeger .null-mess .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.messeger .null-mess .content .title {
  margin: 0px 0px 10px 0px;
  color: var(--Text-Black, #2a344a);
  text-align: center;
  /* Platform/Desktop/H-5 M */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}
.messeger .null-mess .content p {
  max-width: 320px;
  color: var(--Text-Grey, #7786a5);
  text-align: center;
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.messeger .null-mess.active {
  display: flex;
}
.messeger .exit {
  cursor: pointer;
  border-radius: 50px;
  background: #fff;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.day-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 710px;
}
.day-list .day {
  margin: 30px 0px 0px 0px;
  align-self: center;
  color: var(--Text-Grey, #7786a5);
  text-align: center;
  /* Platform/Mobile/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.messeges .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
.messeges ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messeges li {
  display: flex;
  gap: 10px;
}
.messeges .from .messege {
  border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
  background: var(--BG-White, #fff);
  padding: var(--Corner_radius_m, 10px) 20px;
}
.messeges .to.duble {
  padding: 0px 0px 0px 50px;
}
.messeges .to.duble .avatar {
  display: none;
}
.messeges .to.duble .messege {
  border-radius: 10px;
  margin-bottom: -5px;
}
.messeges .to .messege {
  border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
  background: var(--Other-BG-Message, #cfe2fc);
  padding: var(--Corner_radius_m, 10px) 20px;
}
.messeges .comment .title {
  color: #ffb74c;
  /* Platform/Fields/Title (caption) */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.messeges .comment .messege {
  display: flex;
  flex-direction: column;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--Fields-BG-Validation, #fffbf4);
  padding: var(--Corner_radius_m, 10px) 20px;
  gap: 0;
}
.messeges .messege {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  display: flex;
  gap: 10px;
}
.messeges .info {
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  gap: 6px;
}
.messeges .info .status {
  display: flex;
  align-items: flex-end;
}
.messeges .info .time {
  display: flex;
  align-items: flex-end;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Fields/Description */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.wrapp {
  /* Стилизация самого скроллбара */
  /* Стилизация дорожки (трек) */
  /* Стилизация ползунка (thumb) */
  /* Стилизация при наведении на ползунок */
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0px 100px 150px 0px;
  width: 100%;
  max-width: 1060px;
  margin: 0px auto;
}
.wrapp::-webkit-scrollbar {
  width: 5px; /* Ширина скроллбара */
}
.wrapp::-webkit-scrollbar-thumb {
  background: var(--Stroke-Light-Grey, #d4ddee);
  border-radius: 5px; /* Радиус закругления ползунка */
}
.wrapp::-webkit-scrollbar-thumb:hover {
  background: var(--Stroke-Light-Grey, #d4ddee);
}

.card-status.new {
  color: var(--Text-White, #fff);
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.mess-form {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  border-radius: var(--Corner_radius_m, 10px);
  border: 1px solid var(--Stroke-Divider, #e1edfd);
  background: var(--BG-White, #fff);
  width: 100%;
  max-width: 1060px;
  margin: 0px auto;
}
.mess-form .add {
  display: none;
  flex-direction: column;
  gap: 7px;
  padding: var(--Corner_radius_m, 10px);
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
  position: absolute;
  left: 0;
  bottom: calc(100% + 5px);
}
.mess-form .add .icon {
  border-radius: 10px;
  background: var(--Button-Secondary-BG-Default, #f1f7ff);
  display: flex;
  padding: 11px;
  justify-content: center;
  align-items: center;
}
.mess-form .add .item {
  min-width: 230px;
  cursor: pointer;
  color: var(--Text-Black, #2a344a);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  display: flex;
  align-items: center;
  gap: 15px;
}
.mess-form .add .item:hover {
  color: #4e6af3;
}
.mess-form .add.active {
  display: flex;
}

.custom-status-select-container {
  position: relative;
}

.custom-status-select {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 250px;
}

.custom-status-select-trigger {
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0px 20px 0px 0px;
  position: relative;
  color: var(--Text-White, #fff);
  /* Platform/Desktop/Body-1 R */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  display: flex;
  align-items: center;
  gap: 5px;
}
.custom-status-select-trigger.open::after {
  transform: rotate(0deg);
}
.custom-status-select-trigger::after {
  content: "";
  background: url("../img/arrow-selects.svg");
  position: absolute;
  top: 3px;
  left: calc(100% - 15px);
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}

.custom-status-options {
  position: absolute;
  top: calc(100% + 23px);
  left: 0;
  right: 0;
  flex-direction: column;
  background: var(--BG-Black, #2a344a);
  border-radius: var(--Corner_radius_m, 10px);
  z-index: 10;
  display: none; /* Изначально скрыто */
  max-width: 255px;
}
.custom-status-options.open {
  display: flex;
}

.custom-status-option {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  color: var(--Text-Disabled, #b8c6e3);
  /* Platform/Button Link/Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  padding: 12px 20px 13px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.custom-status-option svg {
  display: none;
}

.custom-status-option.active {
  color: #ffffff;
}
.custom-status-option.active svg {
  display: block;
}

.custom-status-option:hover {
  color: #ffffff;
}

.chat-switcher {
  margin: 0px 0px 2px 0px;
  position: relative;
  display: none;
  gap: 30px;
  color: var(--Text-Grey, #7786a5);
}
.chat-switcher::before {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--BG-Grey, #3a465d);
}
.chat-switcher .switch {
  /* Platform/Button Link/Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.chat-switcher .switch.active {
  position: relative;
  color: var(--Text-White, #fff);
}
.chat-switcher .switch.active::before {
  content: "";
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--Text-White, #fff);
}/*# sourceMappingURL=applicationcard.css.map */