section {
    margin: 0px 0px 0px 0px;
}
.application-card {
    main {
        padding: 0px 0px 0px 0px;
        flex-grow: 0;
    }
    max-height: 100vh;
    padding: 10px;
    background: var(--overlay, rgba(60, 75, 97, 0.6));
    /* overlay */
    backdrop-filter: blur(11px);
}
.app-card-wrapp {
    height: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    background: var(--BG-Light-grey, #eef1f5);
}
.sidebar {
    .title {
        min-width: 150px;

        color: var(--Text-Grey, #7786a5);

        /* Desktop/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    li {
        &:last-child {
            border-bottom: none;
        }
        border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
        padding: 15px 20px;
        display: flex;
        align-items: flex-start;
        gap: 15px;

        color: var(--Text-Black, #2a344a);

        /* Desktop/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    .client-contacts {
        &.closed {
            display: none;
        }
        .sonra {
            display: none;
            &.active {
                display: block;
            }
            color: var(--Text-Success, #0ab258);

            /* Platform/Desktop/Body-2 R */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */

            padding: 15px 20px;
        }
        .opened {
            display: none;
            &.active {
                display: block;
            }
        }

        border-bottom: 5px solid var(--Stroke-Divider, #e1edfd);
    }
    .butt-open {
        display: none;
        &.rotate {
            svg {
                transform: rotate(180deg);
            }
        }
        &.active {
            display: flex;
        }
        align-items: center;
        svg {
            cursor: pointer;
        }
    }
    .col {
        .status {
            color: var(--Text-Black, #2a344a);

            /* Desktop/Body-2 R */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
        }
        .name {
            color: var(--Text-Black, #2a344a);
            text-align: center;

            /* Platform/Accent_16 (S) */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
        }
        display: flex;
        flex-direction: column;
    }
    .client {
        .avatar {
            img {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                object-fit: cover;
            }
        }
        display: flex;
        gap: 15px;
        flex-grow: 1;
    }
    .app-from {
        .left {
            width: 150px;
        }
        .top {
            display: flex;
            gap: 15px;
            padding: 15px 20px;
            border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
        }
    }
    h5 {
        .app-id {
            color: var(--Text-Grey, #7786a5);

            /* Platform/Desktop/Body-1 R */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
        color: var(--Text-White, #fff);

        /* Platform/Desktop/H-5 M */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 24px */

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .options {
        &.max {
            &.min {
                max-height: 76vh;
            }
            max-height: 50vh;
        }
        &.min {
            max-height: 70vh;
        }
        &.orta {
            max-height: 75vh;
        }
        overflow-y: scroll;
    }
    .head {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: var(--Corner_radius_m, 10px) 0px 0px 0px;
        background: var(--BG-Black, #2a344a);
        padding: 20px;
    }
    min-width: 580px;
    max-width: 580px;
    background: #fff;
    //overflow: hidden;
}
.messeger {
    .mess-input-container {
        input {
            //color: var(--Text-Grey, #7786a5);

            /* Platform/Desktop/Body-1 R */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
        flex: 1 0 0;
    }
    .send-butt {
        border-radius: 10px;
        background: var(--BG-Disabled, #eff3fb);
        display: flex;
        padding: 11px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .butt-insert {
        border-radius: 10px;
        background: var(--Button-Primary-BG-Default, #4e6af3);
        display: flex;
        padding: 11px;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        cursor: pointer;
    }
    .send-form {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .messeges {
        display: none;
        &.active {
            display: block;
        }
    }
    .null-mess {
        .content {
            .title {
                color: var(--Text-Black, #2a344a);
                text-align: center;

                /* Platform/Desktop/H-5 M */
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 24px */
            }
            p {
                max-width: 320px;
                color: var(--Text-Grey, #7786a5);
                text-align: center;

                /* Platform/Desktop/Body-1 R */
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        display: none;
        &.active {
            display: flex;
        }
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .exit {
        cursor: pointer;
        border-radius: 50px;
        background: #fff;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 10px;
        top: 10px;
    }
    position: relative;
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.day-list {
    .day {
        align-self: flex-end;

        color: var(--Text-Grey, #7786a5);
        text-align: center;

        /* Platform/Mobile/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    display: flex;
    flex-direction: column;
    gap: 15px;

    max-width: 710px;
}
.messeges {
    .avatar {
        img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            object-fit: cover;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li {
        display: flex;
        gap: 10px;
    }
    .from {
        .messege {
            border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
            background: var(--BG-White, #fff);
            padding: var(--Corner_radius_m, 10px) 20px;
        }
    }
    .to {
        &.duble {
            padding: 0px 0px 0px 50px;
            .avatar {
                display: none;
            }
            .messege {
                border-radius: 10px;
                margin-bottom: -5px;
            }
        }
        .messege {
            border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
            background: var(--Other-BG-Message, #cfe2fc);
            padding: var(--Corner_radius_m, 10px) 20px;
        }
    }
    .comment {
        .title {
            color: #ffb74c;

            /* Platform/Fields/Title (caption) */
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        .messege {
            display: flex;
            flex-direction: column;
            border-radius: var(--Corner_radius_m, 10px);
            background: var(--Fields-BG-Validation, #fffbf4);
            padding: var(--Corner_radius_m, 10px) 20px;

            gap: 0;
        }
    }
    .messege {
        color: var(--Text-Black, #2a344a);

        /* Platform/Desktop/Body-1 R */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        //display: inline-block;
        display: flex;
        gap: 10px;
        //flex-direction: column;
    }
    .info {
        .status {
            display: flex;
            align-items: flex-end;
        }

        .time {
            display: flex;
            align-items: flex-end;
            color: var(--Text-Grey, #7786a5);

            /* Platform/Fields/Description */
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        gap: 6px;
    }
}
.wrapp {
    flex-grow: 1;
    //overflow: hidden;
    overflow-y: scroll;
    padding: 0px 100px 150px 0px;
    width: 100%;
    max-width: 1060px;
    margin: 0px auto;
}
.card-status {
    select {
        margin: 0px 0px 0px -4px;
        color: var(--Text-White, #fff);

        /* Platform/Desktop/Body-1 R */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */

        background: var(--BG-Black, #2a344a);
    }
    &.new {
        span {
            display: block;
        }
    }
    span {
        display: none;
    }
    color: var(--Text-White, #fff);

    /* Platform/Desktop/Body-1 R */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.mess-form {
    .add {
        .icon {
            border-radius: 10px;
            background: var(--Button-Secondary-BG-Default, #f1f7ff);
            display: flex;
            padding: 11px;
            justify-content: center;
            align-items: center;
        }
        .item {
            &:hover {
              color: #4E6AF3;
            }
            min-width: 230px;
            cursor: pointer;
            color: var(--Text-Black, #2a344a);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 19.6px */
            display: flex;
            align-items: center;
            gap: 15px;
        }
        display: none;
        &.active{
             display: flex;
        }
       
        flex-direction: column;
        gap: 7px;
        padding: var(--Corner_radius_m, 10px);

        border-radius: var(--Corner_radius_m, 10px);
        background: var(--BG-White, #fff);
        position: absolute;
        left: 0;
        bottom: calc(100% + 5px);
    }
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;

    border-radius: var(--Corner_radius_m, 10px);
    border: 1px solid var(--Stroke-Divider, #e1edfd);
    background: var(--BG-White, #fff);

    width: 100%;
    max-width: 1060px;
    margin: 0px auto;
}
