.applications {
  padding: 75px 0px 20px 0px;
}
.applications section {
  margin: 0px 0px 0px 0px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}
.custom-select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding: 0px 30px 0px 0px;
  cursor: pointer;
}
.custom-select-wrapper select:focus {
  outline: none;
}
.custom-select-wrapper::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background: url("../img/arrow-selection.svg");
  pointer-events: none;
}

.applications-menu .statistic {
  color: var(--Text-Grey, #7786a5);
  /* Platform/Button Link/Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  display: flex;
  align-items: center;
  min-width: -moz-fit-content;
  min-width: fit-content;
  gap: 5px;
  padding: 0px 0px 0px 50px;
}
.applications-menu .statistic span {
  color: var(--Text-Black, #2a344a);
  display: inline-block;
}
.applications-menu .filters-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 18px 20px;
  min-height: 100%;
}
.applications-menu .filters-buttons div {
  cursor: pointer;
}
.applications-menu .search-items {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
  min-width: -moz-fit-content;
  min-width: fit-content;
  color: var(--Fields-Title, #7786a5);
  /* Platform/Fields/Placeholder */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.applications-menu .nav-metod {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 30px 0px 0px;
}
.applications-menu .nav-metod div {
  cursor: pointer;
}
.applications-menu .nav-metod div.active svg path, .applications-menu .nav-metod div:hover svg path {
  fill: #4e6af3;
}
.applications-menu .category-klients {
  margin: 0px 50px 0px 0px;
}
.applications-menu .category-klients select {
  color: var(--Text-Black, #2a344a);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 100% */
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
.applications-menu .selected-items {
  display: none;
  flex-grow: 1;
  padding: 18px 20px;
  max-width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.applications-menu .selected-items.active {
  display: flex;
}
.applications-menu .selected-items ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.applications-menu .selected-items ul li {
  border-radius: 5px;
  border: 1px solid var(--Stroke-Divider, #e1edfd);
  background: var(--BG-White, #fff);
  display: flex;
  padding: 6px 10px;
  align-items: center;
  gap: 5px;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Button Link/Small */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.applications-menu .selected-items ul li:hover {
  background: var(--Stroke-Divider, #e1edfd);
  color: var(--Main-Blue, #4e6af3);
}
.applications-menu .selected-items ul li:hover span svg path {
  fill: #4e6af3;
}
.applications-menu .selected-items ul li span {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.applications-menu .wrapp {
  min-height: 66px;
  display: flex;
  align-items: center;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
  padding: 0px 20px;
  margin: 10px 10px 10px 10px;
  max-width: 100%;
}
.applications-menu .wrapp div {
  box-sizing: border-box;
}
.applications-menu .filters {
  display: flex;
  border-left: 1px solid var(--Stroke-Divider, #e1edfd);
  border-right: 1px solid var(--Stroke-Divider, #e1edfd);
  flex-grow: 1;
  width: 100%;
  overflow-x: hidden;
}

.applications-track {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px 0px 0px 0px;
}

.column {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  padding: 0px 10px 0px 0px;
}
.column.col-01 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #4e6af3 94.81%, #54b7ff 94.81%);
}
.column.col-02 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #54b7ff 94.81%);
}
.column.col-03 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-04 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-05 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-06 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-07 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-08 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-09 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #ffd64c 94.81%);
}
.column.col-10 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #0ab258 94.81%);
}
.column.col-11 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #0ab258 94.81%);
}
.column.col-12 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #0ab258 94.81%);
}
.column.col-13 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #0ab258 94.81%);
}
.column.col-14 .col-head {
  background: linear-gradient(180deg, #fff 94.81%, #f34942 94.81%);
}
.column .col-head {
  border-radius: var(--Corner_radius_m, 10px);
  padding: 15px 20px 19px 20px;
}
.column .col-head .data {
  color: var(--Text-Grey, #7786a5);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.column .col-head .infobutt {
  cursor: pointer;
}
.column .col-head .infobutt:hover svg path {
  fill: #4e6af3;
}
.column .col-head h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--Text-Black, #2a344a);
  /* H-4 M */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
  padding: 0px 0px 0px 0px;
}

.row-item {
  padding: 8px 10px 10px 10px;
  max-width: 340px;
  min-width: 340px;
  width: 340px;
  height: 120px;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
  display: flex;
  flex-direction: column;
}
.row-item ul {
  display: flex;
  gap: 5px;
}
.row-item ul li {
  color: var(--Text-Black, #2a344a);
  /* Platform/Caption_1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  padding: 3px 5px;
  border-radius: var(--Corner_radius_s, 5px);
  background: var(--BG-Light-Blue, #f1f7ff);
}
.row-item .price {
  margin: 8px 0px 10px 0px;
  color: var(--Text-Black, #2a344a);
  /* Platform/Accent_14 (M) */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
}
.row-item .title {
  margin: 4px 0px 0px 0px;
  color: var(--Main-Blue, #4e6af3);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.row-item .head {
  display: flex;
  justify-content: space-between;
}
.row-item .head .time {
  color: var(--Text-Grey, #7786a5);
  /* Platform/Caption_1 */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.row-item .head .name {
  display: flex;
  gap: 5px;
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.row-item .head .name .status {
  color: var(--Text-Grey, #7786a5);
}

.horizontal {
  display: none;
  overflow: hidden;
  padding: 0px 0px 0px 10px;
}
.horizontal.active {
  display: block;
}

.vertical {
  display: none;
  padding: 10px 0px 0px 0px;
}
.vertical .page-head ul::after {
  display: none;
}
.vertical .page-head ul li {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.vertical .page-head ul li span {
  margin: 0px 0px 0px 10px;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Button Link/Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.vertical .page-head .list-wrapp {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0px 0px 10px 0px;
}
.vertical .page-head .wrapper {
  overflow: hidden;
  padding: 30px 30px 10px 30px;
}
.vertical .page-head .forline {
  position: relative;
}
.vertical .page-head .forline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--Stroke-Divider, #e1edfd);
  bottom: 0px;
  left: 0;
}
.vertical.active {
  display: block;
}

.cards-wrapp {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 0px 0px;
}

.client-card {
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
  padding: 20px 30px;
  border: 2px solid var(--Stroke-Light-Grey, rgba(212, 221, 238, 0));
}
.client-card .card-status {
  position: relative;
  /* Specific styles for each option value */
}
.client-card .card-status.new::after {
  background: none;
}
.client-card .card-status.sent::after {
  background: none;
}
.client-card .card-status.contact::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.need::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.repeat::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.approved::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.scheduled::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.shown::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.signed::after {
  background: url("../img/cards/arrow-orange.svg");
}
.client-card .card-status.paid-reservation::after {
  background: url("../img/cards/arrow-green.svg");
}
.client-card .card-status.first-payment::after {
  background: url("../img/cards/arrow-green.svg");
}
.client-card .card-status.paid-full::after {
  background: url("../img/cards/arrow-green.svg");
}
.client-card .card-status.ownership::after {
  background: url("../img/cards/arrow-green.svg");
}
.client-card .card-status.closed::after {
  background: url("../img/cards/arrow-red.svg");
}
.client-card .card-status::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none;
}
.client-card .card-status .status-select {
  padding: 10px 35px 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.client-card .card-status .new {
  background: var(--BG-Light-Blue, #f1f7ff);
  color: #54b7ff;
}
.client-card .card-status .sent {
  background: var(--BG-Light-Blue, #f1f7ff);
  color: #54b7ff;
}
.client-card .card-status .contact {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .need {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .repeat {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .approved {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .scheduled {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .shown {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .signed {
  background: var(--Fields-BG-Validation, #fffbf4);
  color: #ff8a21;
}
.client-card .card-status .paid-reservation {
  background: var(--BG-Green, #eafff3);
  color: var(--Text-Success, #0ab258);
}
.client-card .card-status .first-payment {
  background: var(--BG-Green, #eafff3);
  color: var(--Text-Success, #0ab258);
}
.client-card .card-status .paid-full {
  background: var(--BG-Green, #eafff3);
  color: var(--Text-Success, #0ab258);
}
.client-card .card-status .ownership {
  background: var(--BG-Green, #eafff3);
  color: var(--Text-Success, #0ab258);
}
.client-card .card-status .closed {
  background: var(--Fields-BG-Error, #fff5f5);
  color: var(--Text-Error, #f34942);
}
.client-card .button-primary {
  padding: 10px 20px;
}
.client-card .dashboard {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-card .price-range {
  color: var(--Main-Blue, #4e6af3);
  /* Platform/Accent_20 (B) */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
}
.client-card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-card .favorites {
  cursor: pointer;
  border-radius: 5px;
  background: var(--BG-Light-Blue, #f1f7ff);
  display: flex;
  padding: 7px 10px;
  align-items: center;
  gap: 5px;
}
.client-card .options {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-card .options .type::after {
  background: url("../img/cards/type.svg");
}
.client-card .options .condition::after {
  background: url("../img/cards/condition.svg");
}
.client-card .options .planning::after {
  background: url("../img/cards/planning.svg");
}
.client-card .options .area::after {
  background: url("../img/cards/area.svg");
}
.client-card .options .purpose::after {
  background: url("../img/cards/purpose.svg");
}
.client-card .options .deadlines::after {
  background: url("../img/cards/deadlines.svg");
}
.client-card .options li {
  position: relative;
  padding: 7px 10px 7px 34px;
  border-radius: 5px;
  background: var(--BG-Light-Blue, #f1f7ff);
  color: var(--Text-Black, #2a344a);
  /* Platform/Button Link/Small */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}
.client-card .options li::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 7px;
  width: 16px;
  height: 16px;
}
.client-card .options ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-card .location {
  padding: 10px 0px 15px 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.client-card h5 {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/H-5 M */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}
.client-card h5.viewed {
  color: var(--Text-Grey, #7786a5);
}
.client-card .card-body {
  padding: 17px 0px 21px 0px;
}
.client-card .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
  margin: 0px -10px 0px -5px;
}
.client-card .menu:hover {
  border-radius: 50px;
  background: var(--Button-Secondary-BG-Click, #e1edfd);
}
.client-card .views {
  display: flex;
  align-items: center;
  gap: 8px;
}
.client-card .date-create {
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.client-card .right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.client-card .status {
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.client-card .name {
  color: var(--Main-Blue, #4e6af3);
  /* Platform/Desktop/Body-2 R */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.client-card .avatar img {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.client-card .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.client-card .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.client-card:hover {
  border: 2px solid var(--Stroke-Light-Grey, #d4ddee);
}/*# sourceMappingURL=applications.css.map */