section {
    margin: 0px 0px 0px 0px;
}
.application-card {
    main {
        padding: 0px 0px 0px 0px;
        flex-grow: 0;
    }
    max-height: 100vh;
    padding: 10px;
    background: var(--overlay, rgba(60, 75, 97, 0.6));
    /* overlay */
    backdrop-filter: blur(11px);
}
.app-card-wrapp {
    &.hide-options {
        .agent-info,
        .app-from,
        .options {
            display: none;
        }
    }
    height: 100%;
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    background: var(--BG-Light-grey, #eef1f5);
}
.sidebar { 
    position: relative;
    .title {
        min-width: 150px;

        color: var(--Text-Grey, #7786a5);

        /* Desktop/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    li {
        &:last-child {
            border-bottom: none;
        }
        border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
        padding: 15px 20px;
        display: flex;
        align-items: flex-start;
        gap: 15px;

        color: var(--Text-Black, #2a344a);

        /* Desktop/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    .client-contacts {
        &.closed {
            display: none;
        }
        .sonra {
            .button-primary {
                display: none;
            }
            display: none;
            &.active {
                display: block;
            }
            color: var(--Text-Success, #0ab258);

            /* Platform/Desktop/Body-2 R */
            font-family: Roboto;
            text-align: center;
            font-size: 14px;
            //font-size: 1vw;
            //font-size: clamp(12px, 2vw, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */

            padding: 15px 20px;
        }
        .opened {
            display: none;
            &.active {
                display: block;
            }
        }

        border-bottom: 5px solid var(--Stroke-Divider, #e1edfd);
    }
    .butt-open {
        display: none;
        &.rotate {
            svg {
                transform: rotate(180deg);
            }
        }
        &.active {
            display: flex;
        }
        align-items: center;
        svg {
            cursor: pointer;
        }
    }
    .col {
        .status {
            color: var(--Text-Black, #2a344a);

            /* Desktop/Body-2 R */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
        }
        .name {
            color: var(--Text-Black, #2a344a);
            //text-align: center;

            /* Platform/Accent_16 (S) */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 19.2px */
        }
        display: flex;
        flex-direction: column;
    }
    .client {
        .avatar {
            img {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                object-fit: cover;
            }
        }
        display: flex;
        gap: 15px;
        flex-grow: 1;
    }
    .app-from {
        .left {
            width: 150px;
            color: var(--Text-Grey, #7786a5);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
        .top {
            display: flex;
            gap: 15px;
            padding: 15px 20px;
            border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
        }
    }
    h5 {
        white-space: nowrap; /* Запрещаем перенос текста */
        overflow: hidden; /* Обрезаем текст, если он выходит за границы контейнера */
        text-overflow: ellipsis; /* Добавляем многоточие, если текст обрезан */
        display: inline-block;
        max-width: calc(100% - 90px);
        span {
            display: none;
        }
        .app-id {
            position: absolute;
            top: 20px;
            right: 20px;
            white-space: nowrap;
            span {
                display: inline-block;
            }
            color: var(--Text-Grey, #7786a5);

            /* Platform/Desktop/Body-1 R */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
        color: var(--Text-White, #fff);

        /* Platform/Desktop/H-5 M */
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 24px */

        // display: flex;
        // align-items: start;
        // justify-content: space-between;
        // gap: 10px;
        display: inline-block;
    }

    .options {
        /* Стилизация самого скроллбара */
        &::-webkit-scrollbar {
            width: 5px; /* Ширина скроллбара */
        }

        /* Стилизация дорожки (трек) */
        &::-webkit-scrollbar-track {
            // background: #f1f1f1; /* Цвет фона дорожки */
            //border-radius: 10px; /* Радиус закругления */
            border-left: 1px solid var(--BG-Grey_Light_L, #f5f7f9);
            border-right: 1px solid var(--BG-Grey_Light_L, #f5f7f9);
        }

        /* Стилизация ползунка (thumb) */
        &::-webkit-scrollbar-thumb {
            background: var(--Stroke-Light-Grey, #d4ddee);
            border-radius: 5px; /* Радиус закругления ползунка */
            // border: 5px solid #eef1f5; /* Граница ползунка */
        }

        /* Стилизация при наведении на ползунок */
        &::-webkit-scrollbar-thumb:hover {
            background: var(--Stroke-Light-Grey, #d4ddee);
        }

        &.max {
            &.min {
                //max-height: 76vh;
                max-height: calc(100vh - 197px);
            }
            // max-height: 50vh;
            max-height: calc(100vh - 455px);
            //min-height: calc(100vh - 455px);
            //max-height: 100vh;
        }
        &.min {
            //max-height: 71vh;
            min-height: calc(100vh - 282px);
            max-height: calc(100vh - 282px);
        }
        &.orta {
            max-height: 75vh;
            min-height: 75vh;
        }
        overflow-y: scroll;
    }
    .head {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: var(--Corner_radius_m, 10px) 0px 0px 0px;
        background: var(--BG-Black, #2a344a);
        padding: 20px;
    }
    // min-width: 580px;
    // max-width: 580px;
    //min-width: 35%;
    &.custom{
        //min-width: 380px;
        min-width: 35%;
    }
    min-width: 370px;
    max-width: 35%;
    background: #fff;
    //overflow: hidden;
}
.messeger {
    &.null {
        .wrapp {
            padding: 0px 0px 150px 0px;
        }
    }
    .mess-input-container {
        input {
            //color: var(--Text-Grey, #7786a5);

            /* Platform/Desktop/Body-1 R */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
        }
        flex: 1 0 0;
    }
    .send-butt {
        border-radius: 10px;
        background: var(--BG-Disabled, #eff3fb);
        display: flex;
        padding: 11px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .butt-insert {
        border-radius: 10px;
        background: var(--Button-Primary-BG-Default, #4e6af3);
        display: flex;
        padding: 11px;
        justify-content: center;
        align-items: center;
        max-width: fit-content;
        cursor: pointer;
    }
    .send-form {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .messeges {
        display: none;
        &.active {
            display: block;
        }
    }
    .null-mess {
        .content {
            .title {
                margin: 0px 0px 10px 0px;
                color: var(--Text-Black, #2a344a);
                text-align: center;

                /* Platform/Desktop/H-5 M */
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 24px */
            }
            p {
                max-width: 320px;
                color: var(--Text-Grey, #7786a5);
                text-align: center;

                /* Platform/Desktop/Body-1 R */
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 24px */
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        display: none;
        &.active {
            display: flex;
        }
        align-items: center;
        justify-content: center;
        height: 100%;

        // min-height: calc(100vh - 110px) ;
    }

    .exit {
        cursor: pointer;
        border-radius: 50px;
        background: #fff;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 10px;
        top: 10px;
    }
    position: relative;
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
}
.day-list {
    .day {
        margin: 30px 0px 0px 0px;
        align-self: center;

        color: var(--Text-Grey, #7786a5);
        text-align: center;

        /* Platform/Mobile/Body-2 R */
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
    }
    display: flex;
    flex-direction: column;
    gap: 15px;

    max-width: 710px;
}
.messeges {
    .avatar {
        img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            object-fit: cover;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    li {
        display: flex;
        gap: 10px;
    }
    .from {
        .messege {
            border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
            background: var(--BG-White, #fff);
            padding: var(--Corner_radius_m, 10px) 20px;
        }
    }
    .to {
        &.duble {
            padding: 0px 0px 0px 50px;
            .avatar {
                display: none;
            }
            .messege {
                border-radius: 10px;
                margin-bottom: -5px;
            }
        }
        .messege {
            border-radius: var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) var(--Corner_radius_m, 10px) 0px;
            background: var(--Other-BG-Message, #cfe2fc);
            padding: var(--Corner_radius_m, 10px) 20px;
        }
    }
    .comment {
        .title {
            color: #ffb74c;

            /* Platform/Fields/Title (caption) */
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        .messege {
            display: flex;
            flex-direction: column;
            border-radius: var(--Corner_radius_m, 10px);
            background: var(--Fields-BG-Validation, #fffbf4);
            padding: var(--Corner_radius_m, 10px) 20px;

            gap: 0;
        }
    }
    .messege {
        color: var(--Text-Black, #2a344a);

        /* Platform/Desktop/Body-1 R */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        //display: inline-block;
        display: flex;
        gap: 10px;
        //flex-direction: column;
    }
    .info {
        .status {
            display: flex;
            align-items: flex-end;
        }

        .time {
            display: flex;
            align-items: flex-end;
            color: var(--Text-Grey, #7786a5);

            /* Platform/Fields/Description */
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        align-self: flex-end;
        display: flex;
        align-items: flex-end;
        gap: 6px;
    }
}
.wrapp {
    /* Стилизация самого скроллбара */
    &::-webkit-scrollbar {
        width: 5px; /* Ширина скроллбара */
    }

    /* Стилизация дорожки (трек) */
    &::-webkit-scrollbar-track {
        // background: #f1f1f1; /* Цвет фона дорожки */
        //border-radius: 10px; /* Радиус закругления */
    }

    /* Стилизация ползунка (thumb) */
    &::-webkit-scrollbar-thumb {
        background: var(--Stroke-Light-Grey, #d4ddee);
        border-radius: 5px; /* Радиус закругления ползунка */
        // border: 5px solid #eef1f5; /* Граница ползунка */
    }

    /* Стилизация при наведении на ползунок */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--Stroke-Light-Grey, #d4ddee);
    }

    flex-grow: 1;
    //overflow: hidden;
    overflow-y: scroll;
    padding: 0px 100px 150px 0px;
    width: 100%;
    max-width: 1060px;
    margin: 0px auto;
}
.card-status.new {
    color: var(--Text-White, #fff);

    /* Platform/Desktop/Body-1 R */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.mess-form {
    .add {
        .icon {
            border-radius: 10px;
            background: var(--Button-Secondary-BG-Default, #f1f7ff);
            display: flex;
            padding: 11px;
            justify-content: center;
            align-items: center;
        }
        .item {
            &:hover {
                color: #4e6af3;
            }
            min-width: 230px;
            cursor: pointer;
            color: var(--Text-Black, #2a344a);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; /* 19.6px */
            display: flex;
            align-items: center;
            gap: 15px;
        }
        display: none;
        &.active {
            display: flex;
        }

        flex-direction: column;
        gap: 7px;
        padding: var(--Corner_radius_m, 10px);

        border-radius: var(--Corner_radius_m, 10px);
        background: var(--BG-White, #fff);
        position: absolute;
        left: 0;
        bottom: calc(100% + 5px);
    }
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;

    border-radius: var(--Corner_radius_m, 10px);
    border: 1px solid var(--Stroke-Divider, #e1edfd);
    background: var(--BG-White, #fff);

    width: 100%;
    max-width: 1060px;
    margin: 0px auto;
}
//селект
.custom-status-select-container {
    position: relative;
    // width: 100%;
    // max-width: 400px;
}

.custom-status-select {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    max-width: 250px;
}

.custom-status-select-trigger {
    &.open {
        &::after {
            transform: rotate(0deg);
        }
    }
    &::after {
        content: "";
        background: url("../img/arrow-selects.svg");
        position: absolute;
        top: 3px;
        left: calc(100% - 15px);
        width: 18px;
        height: 18px;
        transform: rotate(180deg);
    }
    max-width: fit-content;
    padding: 0px 20px 0px 0px;
    position: relative;
    color: var(--Text-White, #fff);

    /* Platform/Desktop/Body-1 R */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

    display: flex;
    align-items: center;
    gap: 5px;
}

.custom-status-options {
    &.open {
        display: flex;
    }
    position: absolute;
    top: calc(100% + 23px);
    left: 0;
    right: 0;

    flex-direction: column;
    //gap: 10px;

    background: var(--BG-Black, #2a344a);
    border-radius: var(--Corner_radius_m, 10px);

    z-index: 10;
    display: none; /* Изначально скрыто */
    max-width: 255px;
    // max-height: 200px;
    //overflow-y: auto;
}

.custom-status-option {
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
        display: none;
    }
    position: relative;
    color: var(--Text-Disabled, #b8c6e3);

    /* Platform/Button Link/Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

    padding: 12px 20px 13px 20px;

    cursor: pointer;
    transition: background-color 0.2s;
}

.custom-status-option.active {
    color: #ffffff;
    svg {
        display: block;
    }
}
.custom-status-option:hover {
    color: #ffffff;
}
.chat-switcher {
    &::before {
        content: "";
        position: absolute;
        top: calc(100% + 8px);
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: var(--BG-Grey, #3a465d);
    }
    .switch {
        &.active {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: calc(100% + 8px);
                width: 100%;
                height: 4px;
                border-radius: 10px;
                background: var(--Text-White, #fff);
            }
            color: var(--Text-White, #fff);
        }
        /* Platform/Button Link/Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }
    margin: 0px 0px 2px 0px;
    position: relative;
    display: none;
    //display: flex;
    gap: 30px;
    color: var(--Text-Grey, #7786a5);
}
