@media (max-width: 1070px) {
  .header .site-logo-dt {
    display: none;
  }
  .header .site-logo-mob {
    display: block;
  }
}
@media (max-width: 960px) {
  .header .right .create {
    display: none;
  }
  .header .nav-dt {
    display: none;
  }
  .payments-balance .wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  .page-head ul li,
  .head-profile ul li {
    line-height: 20px;
  }
  .page-head h3,
  .head-profile h3 {
    margin: 0px 0px 20px 0px;
  }
  .header {
    margin: 10px;
    width: calc(100% - 20px);
    border-radius: 10px;
  }
  .header .right .avatar img {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }
  .footer .politic {
    display: none;
  }
  .footer .politic-mob {
    display: block;
  }
  .footer .container {
    flex-direction: column-reverse;
  }
  .container {
    margin: 0px 10px;
  }
  h3 {
    font-size: 26px;
  }
  .content-text h5 {
    font-size: 18px;
  }
  .enter-page .container {
    padding: 0px 0px 0px 0px;
    margin: 10px;
  }
  .registration-page p a {
    display: block;
  }
  .enter-page .confirm h3,
  .modal .confirm h3 {
    margin: 0px 0px 20px 0px;
  }
  main {
    padding: 60px 0px 150px 0px;
  }
  .footer {
    position: relative;
    margin: 60px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .footer .wrapper.dtop {
    display: none;
  }
  .footer .wrapp.mob {
    display: block;
  }
  .create-app .cancel,
  .create-profile-realtor .cancel {
    right: 22px;
    top: 15px;
    background: var(--BG-Light-grey, #eef1f5);
  }
  .create-app .head,
  .create-profile-realtor .head {
    padding: 15px 0px 15px 0px;
    height: 70px;
    align-items: center;
  }
  .enter-page .form input {
    width: 100%;
  }
  .create-app .id-realtor,
  .create-profile-realtor .id-realtor {
    margin: 0px 82px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
  }
  .form .up-info .mob {
    display: block;
  }
  .form .up-info .dtop {
    display: none;
  }
  body textarea {
    height: 164px;
  }
  main.no-padding {
    padding: 0px 0px 75px 0px;
  }
  .about-profile .line {
    top: 76px;
  }
  .param-profile .item.noborder {
    padding: 20px 0px 0px 0px;
  }
  .param-profile .item {
    padding: 20px 0px;
  }
  .header {
    padding: 10px 30px;
  }
  .param-profile h3 {
    margin: 0px 0px 50px 0px;
  }
  .param-profile .subtitle {
    top: 80px;
  }
  .notifications .line,
  .safety .line,
  .sertificats-profile .line {
    top: 76px;
  }
  .footer {
    margin: 0px 0px 0px 0px;
  }
  .page-head .wrapper,
  .head-profile .wrapper {
    padding: 35px 30px 21px 30px;
  }
  .page-head ul li,
  .head-profile ul li {
    line-height: 33px;
  }
  .payments-balance .right {
    min-width: 100%;
  }
  .button-primary.fit-content {
    max-width: 100%;
    width: 50%;
  }
  .payments-balance .right .form {
    display: flex;
    flex: 1;
  }
  .payments-balance .right form input[type=number] {
    width: 50%;
  }
  .payments-balance h4,
  .payments-story h4 {
    font-size: 20px;
  }
  .notifications h4,
  .safety h4 {
    font-size: 20px;
  }
  .safety .info {
    margin: -10px 0px 30px 0px;
  }
  .notifications ul {
    margin: 40px 0px 0px 0px;
  }
  section:last-child {
    margin: 0px 0px 0px 0px;
  }
  .vertical {
    padding: 10px 0px 50px 0px;
  }
  .footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .enter-page .confirm h3,
  .modal .confirm h3 {
    margin: 0px 0px 16px 0px;
  }
  .enter-page .form input,
  .modal .form input {
    width: auto;
  }
  .enter-page .confirm .form {
    padding: 40px 20px;
  }
  .enter-page .container {
    margin: 0px 0px 0px 0px;
  }
  .registration-page p {
    text-align: left;
    max-width: 320px;
    margin: 20px auto 0 auto;
  }
  .registration-page p a {
    display: inline;
  }
  .enter-page .button-primary {
    max-width: 320px;
    margin: 0px auto;
  }
  .enter-page .form {
    padding: 40px 20px;
  }
  .enter-page .subtitle,
  .modal .subtitle {
    line-height: 140%;
    padding: 5px 20px;
  }
  .enter-page .wrapper {
    padding: 20px 0px 0px 0px;
  }
  .enter-page h3,
  .enter-page h4,
  .modal h3,
  .modal h4 {
    padding: 0px 20px;
    margin: 0px 0px 16px 0px;
  }
  .registration-page .bott {
    flex-direction: column;
  }
  .content-text {
    max-height: 84vh;
  }
  .modal .modal-content {
    max-height: 95vh;
    height: 95vh;
  }
  .modal {
    align-items: flex-end;
  }
  .content-text h5 {
    padding: 40px 0px 15px 0px;
  }
  .payments-balance .wrapper {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
  h4 {
    font-size: 18px;
  }
  .data-profile .wrapper {
    overflow-x: scroll;
  }
  .header {
    margin: 0px 0px 16px 0px;
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .info-profile .cart .avatar {
    border-radius: 20px;
  }
  .head-profile h3 {
    margin: 0px 0px 20px 0px;
  }
  .wrapper {
    padding: 20px 20px 30px 20px;
  }
  .enter-page .mw700,
  .modal .mw700 {
    width: 100%;
  }
  .enter-page,
  .modal {
    padding: 0px 0px;
  }
  .payments-balance .right form input[type=submit] {
    min-width: 100%;
  }
  .payments-balance .right form input[type=number] {
    width: 100%;
  }
  .payments-balance .right {
    min-width: 100%;
  }
  .payments-balance .right .input-container {
    min-width: 320px;
  }
  .payments-balance .right form {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .payments-balance .right form .button-primary {
    min-width: 320px;
  }
  .footer .wrapp.mob .left,
  .footer .wrapp.mob .right {
    gap: 0px;
    justify-content: space-around;
  }
  .edit-profile .wrapper {
    margin: 20px 20px 36px 20px;
  }
  .sertificats-profile .items {
    justify-content: center;
  }
  .sertificats-profile .item {
    width: 154px;
    height: 230px;
  }
  .param-profile .subtitle {
    padding: 5px 20px;
  }
  .info-profile .cart .avatar img {
    width: 100%;
  }
  .param-profile .subtitle {
    top: 65px;
  }
  .param-profile h3 {
    margin: 0px 0px 80px 0px;
  }
  .param-profile .item {
    flex-direction: column;
    padding: 15px 0px;
  }
  .info-profile .cart .avatar {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
  }
  .info-profile .cart .id-info {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
  }
  .info-profile .cart {
    flex-direction: column;
  }
  .head-profile ul {
    min-width: 400px;
  }
  .head-profile .container .wrapper {
    overflow: hidden;
  }
  .container {
    margin: 0px;
  }
  h3 {
    font-size: 22px;
  }
  .page-head .wrapper,
  .head-profile .wrapper {
    padding: 20px 20px 20px 20px;
  }
  .payments-balance .wrapper {
    padding: 20px 20px 20px 20px;
  }
  .payments-story .wrapper {
    padding: 20px 0px 0px 0px;
  }
  .payments-story h4 {
    padding: 0px 20px 20px 20px;
  }
  .payments-story .list-header {
    padding: 15px 20px;
  }
  .payments-story .date {
    padding: 5px 20px;
  }
  .payments-story li {
    margin: 0px 20px;
  }
}/*# sourceMappingURL=media.css.map */