@media (max-width: 1400px) {
    .sidebar h5 .app-id span {
        display: none;
    }
}
@media (max-width: 1070px) {
    .header .site-logo-dt {
        display: none;
    }
    .header .site-logo-mob {
        display: block;
    }
}
@media (max-width: 960px) {
    .create-app .cats .cat{width: 155px;height: 155px;}
    .form .preview-wrapper .remove-btn{display: block;}
    .create-app .id-realtor {
        white-space: nowrap;
    }
    .application-card .sidebar {
        min-width: 100%;
    }
    .sidebar h5 {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .sidebar h5 span {
        display: flex;
        align-items: center;
        max-width: fit-content;
        //margin-right: 10px;
    }
    .sidebar h5 .app-id {
        margin: 0px 0px 0px auto;
    }
    .header .right .create {
        display: none;
    }
    .header .nav-dt {
        display: none;
    }
    .payments-balance .wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .page-head ul li,
    .head-profile ul li {
        line-height: 20px;
    }
    .page-head h3,
    .head-profile h3 {
        margin: 0px 0px 20px 0px;
    }
    .header {
        margin: 10px;
        width: calc(100% - 20px);
        border-radius: 10px;
    }
    .header .right .avatar img {
        width: 32px;
        height: 32px;
        border-radius: 8px;
    }
    .footer .politic {
        display: none;
    }
    .footer .politic-mob {
        display: block;
    }
    .footer .container {
        flex-direction: column-reverse;
    }
    .container {
        margin: 0px 10px;
    }
    h3 {
        font-size: 26px;
    }
    .data-profile {
        //display: none;
    }
    .content-text h5 {
        font-size: 18px;
    }
    .enter-page .container {
        padding: 0px 0px 0px 0px;
        margin: 10px;
    }
    .registration-page p a {
        display: inline;
    }

    .modal .confirm h3 {
        margin: 20px 0px 20px 0px;
    }
    .enter-page .confirm h3 {
        margin: 0px 0px 20px 0px;
    }
    main {
        padding: 60px 0px 140px 0px;
    }
    .footer {
        position: relative;
        margin: 60px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .footer .wrapper.dtop {
        display: none;
    }
    .footer .wrapp.mob {
        display: block;
    }
    .create-app .cancel,
    .create-profile-realtor .cancel {
        right: 22px;
        top: 15px;
        background: var(--BG-Light-grey, #eef1f5);
    }

    .create-app .head,
    .create-profile-realtor .head {
        padding: 15px 0px 15px 0px;
        height: 70px;
        align-items: center;
    }
    .enter-page .form input {
        width: 100%;
    }
    .create-app .id-realtor,
    .create-profile-realtor .id-realtor {
        margin: 0px 82px 0px 0px;
        padding: 0px 0px 0px 0px;
        display: flex;
        align-items: center;
    }
    .form .up-info .mob {
        display: block;
    }
    .form .up-info .dtop {
        display: none;
    }
    body textarea {
        //height: 164px;
    }
    main.no-padding {
        //padding: 0px 0px 75px 0px;
        padding: 0px 0px 140px 0px;
    }
    .video-form:first-child{
        margin: 20px 0px 0px 0px;
    }
    .about-profile .line {
        top: 76px;
    }
    .param-profile .item.noborder {
        padding: 20px 0px 0px 0px;
    }
    .param-profile .item {
        padding: 20px 0px;
    }
    .header {
        padding: 10px 30px;
    }
    .param-profile h3 {
        margin: 0px 0px 50px 0px;
    }
    .param-profile .subtitle {
        top: 80px;
    }
    .notifications .line,
    .safety .line,
    .sertificats-profile .line {
        top: 76px;
    }
    .footer {
        margin: 0px 0px 0px 0px;
    }
    .page-head .wrapper,
    .head-profile .wrapper {
        padding: 30px 30px 10px 30px;
        border-radius: 0 0 10px 10px;
        margin: -10px 0px 0px 0px;
    }
    .page-head ul li,
    .head-profile ul li {
        line-height: 33px;
    }
    .payments-balance .right {
        min-width: 100%;
    }
    .button-primary.fit-content {
        max-width: 100%;
        //width: 50%;
    }
    .payments-balance .right .form {
        display: flex;
        flex: 1;
    }
    .payments-balance .right form .button-primary.fit-content {
        width: 50%;
    }
    .payments-balance .right form input[type="number"] {
        width: 50%;
    }
    .payments-balance h4,
    .payments-story h4 {
        font-size: 20px;
    }
    .notifications h4,
    .safety h4 {
        font-size: 20px;
    }
    .safety .info {
        margin: -10px 0px 30px 0px;
    }
    .notifications ul {
        margin: 40px 0px 0px 0px;
    }
    section {
        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }
    .vertical {
        padding: 0px 0px 140px 0px;
    }
    .footer {
        position: fixed;
        bottom: 0px;
        left: 0;
        min-width: 100%;
    }
    .applications-menu .filters {
        display: none;
    }
    .applications-menu .wrapp {
        border-radius: 0;
        justify-content: space-between;
        border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
        margin: -10px 10px 0px 10px;
        padding: 10px 20px 0px 20px;
    }
    .applications-menu .nav-metod {
        margin: 0px auto 0px 0px;
    }
    .vertical .page-head .wrapper {
        border-radius: 0 0 10px 10px;
        padding: 20px 30px 10px 30px;
    }
    .applications-menu .search-items {
        margin: 0px 0px 0px 0px;
    }
    .search-mob {
        display: block;
    }
    .column.col-01 .row-item:hover .hover {
        display: none;
    }
    .applications {
        .column {
            max-height: calc(100vh - 202px);
        }
    }
    .row-item ul {
        max-width: 85%;
    }
    .horizontal .row-item {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 10px;
            bottom: 16px;
            width: 18px;
            height: 18px;
            background: url("../img/chat-ico.svg") no-repeat;
        }
    }
    .app-card-wrapp {
        flex-direction: column;
    }
    .app-card-wrapp {
        border-radius: 0px;
    }
    .application-card {
        .sidebar .head {
            border-radius: 0px;
        }
        padding: 0px 0px 0px 0px;
        .sidebar {
            max-width: 100%;
        }
    }
    .sidebar .options.max {
        max-height: calc(100vh - 467px);
        min-height: calc(100vh - 467px);
    }
    .chat .agent-info {
        max-height: calc(100vh - 132px);
        min-height: calc(100vh - 132px);
    }
    .sidebar .options.min {
        max-height: calc(100vh - 330px);
        min-height: calc(100vh - 330px);
    }
    .sidebar .options.max.min {
        max-height: calc(100vh - 210px);
        min-height: calc(100vh - 210px);
    }
    .sidebar .options.orta {
        max-height: calc(100vh - 132px);
        min-height: calc(100vh - 132px);
    }
    .application-card .sidebar {
        &.hide {
            display: none;
        }
    }
    .chat-switcher {
        display: flex;
    }
    .plug .wrapp {
        margin-top: -100px;
    }
    .create-app {
        .wrapper.xscroll {
            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 30px;
                width: 56px;
                height: 70%;
                // background: var(--BG-Lianer, linear-gradient(270deg, #fff 52%, rgba(255, 255, 255, 0) 100%));
                //background: linear-gradient(267deg, #fff 25.05%, rgba(255, 255, 255, 0) 195.39%);
                background: var(--BG-Lianer, linear-gradient(270deg, #fff 52%, rgba(255, 255, 255, 0) 100%));
            }
            position: relative;
            .row {
                &::-webkit-scrollbar {
                    width: 0;
                    height: 0; /* Убираем отображение горизонтального скроллбара */
                }
                &::-webkit-scrollbar-thumb {
                    background-color: transparent; /* Делаем ползунок полностью прозрачным */
                }

                .item {
                    min-width: 280px;
                }
                overflow-x: auto;
                max-width: calc(100vw - 20px);
            }
            //overflow-x: scroll;
            //max-width: 70%;
        }
    }
    .messeger .exit {
        display: none;
    }
    .messeger {
        .wrapp {
            padding: 0px 0px 150px 0px;
            max-height: calc(100vh - 200px);
            min-height: calc(100vh - 200px);
        }
    }
    .custom-status-options {
        top: calc(100% + 8px);
    }
    .sidebar .client-contacts .sonra {
        text-align: center;
        margin-top: -20px;
        background: #fff;
        .button-primary {
            display: flex;
            margin: 0px 0px 20px 0px;
        }
    }
    .sidebar .app-from .top {
        //border-bottom: none;
        //padding: 15px 20px 0px 20px;
    }
    .modal {
        align-items: flex-end;
    }
    .modal .modal-content {
        min-height: calc(100vh - 72px);
        max-height: calc(100vh - 72px);
        min-width: calc(100vw - 20px);
        max-width: calc(100vw - 20px);

        margin: 0px 10px 10px 10px;
    }
    .modal .mw700 {
        width: 100%;
        height: 100%;
    }
    .content-text {
        height: calc(100vh - 155px);
        max-height: calc(100vh - 155px);
    }
    .page-head ul {
        gap: 10px;
    }
    .page-head ul li {
        padding: 0px 20px 0px 0px;
    }
    .page-head ul li.active::after {
        width: calc(100% - 20px);
    }
    .create-profile-realtor h5 {
        margin: 0px 0px -15px 0px;
    }
    .my-apps.applications {
        padding: 70px 0px 140px 0px;
    }
    .chat {
        .info-prf {
            h4 {
                font-size: 20px;
            }
        }
    }
    .messeger {
        padding: 0px 10px 10px 10px;
    }
    h4 {
        font-size: 20px;
    }
    .card-status {
        flex-grow: 1;
    }
    .application-card .sidebar .head {
        min-height: 130px;
    }
    .app-card-wrapp.hide-options {
        .for-chat-userinfo {
            .ad-soyad {
                span {
                    display: block;
                    overflow: hidden;
                    color: var(--Text-Disabled, #b8c6e3);
                    text-overflow: ellipsis;

                    /* Platform/Desktop/Body-1 R */
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                }
                color: var(--Text-White, #fff);

                /* Platform/Mobile/H-5 M */
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 21.6px */
            }
            .userinfos {
                display: flex;
                gap: 12px;
                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 56px;
                    object-fit: cover;
                }
            }
            display: flex;
            align-items: center;
            gap: 5px;
            color: #fff;
            flex-grow: 1;
        }
        .card-status,
        .sidebar h5 {
            display: none;
        }
    }
    .landing-footer .navigations .nav ul{
        max-width: 100%;
    }
    .notifications ul{
        margin: 20px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .create-app .row{gap: 10px;}
    main.no-padding {
        padding: 0px 0px 0px 0px;
    }
    .form .preview {
        gap: 10px;
    }
    .form .upload-container.full.big .up-info{
        width: 154px;height: 230px;
    }
    .form .preview.big img, .form .preview.big .preview-wrapper{
        width: 154px;height: 230px;
        //flex: 1;
    }
    .content-status {
        padding: 40px 20px;
    }
    .messeges .to.duble {
        padding: 0px 0px 0px 0px;
    }
    .mess-form {
        gap: 0;
    }
    .sertificats-profile .items{
        gap: 10px;
    }
    .notifications .line,
    .safety .line,
    .sertificats-profile .line {
        top: 60px;
    }
    .overflow {
        display: none;
    }
    .sidebar .client-contacts .sonra .button-primary {
        padding: 0px 0px 0px 0px;
        min-height: 40px;
    }
    .create-app .info-profile {
        padding: 20px;
    }
    .about-profile h3 {
        margin: 0px 0px 40px 0px;
    }
    .about-profile .line {
        top: 60px;
    }
    .about-profile .videos {
        margin: 15px 0px 0px 0px;
    }
    .data-profile ul li {
        padding: 0px 30px 0px 0px;
    }
    .data-profile ul {
        gap: 5px;
    }
    .info-profile .reviews,
    .info-profile .stars {
        font-size: 20px;
    }
    .my-apps.applications .page-head {
        margin: 10px 0px 0px 0px;
    }
    .create-profile-realtor h5 {
        padding: 0px 20px;
    }
    .chat .agent-info {
        padding: 50px 20px;
    }
    .footer .wrapp.mob {
        margin: 0px 0px 0px 0px;
    }

    .modal .confirm h3 {
        margin: 20px 0px 16px 0px;
    }
    .enter-page .confirm h3 {
        margin: 0px 0px 16px 0px;
    }
    .enter-page .form input,
    .modal .form input {
        //max-width: 370px;
        //min-width: 320px;
        width: auto;
    }
    .enter-page .confirm .form {
        padding: 40px 20px;
    }
    .enter-page .container {
        margin: 0px 0px 0px 0px;
    }
    .registration-page p {
        //text-align: left;
        //max-width: 320px;
        margin: 20px auto 0 auto;
        padding: 0px 20px;
    }
    .registration-page p a {
        display: inline;
    }
    .enter-page {
        .button-primary {
            max-width: 100%;
            margin: 0px 20px;
        }
    }
    .enter-page .form {
        padding: 40px 20px;
    }
    .enter-page .subtitle,
    .modal .subtitle {
        line-height: 140%;
        padding: 5px 20px;
    }
    .enter-page .wrapper {
        padding: 20px 0px 0px 0px;
    }
    .enter-page h3,
    .enter-page h4,
    .modal h3,
    .modal h4 {
        padding: 0px 20px;
        margin: 0px 0px 16px 0px;
    }
    .registration-page .bott {
        flex-direction: column;
    }
    .content-text {
        //max-height: 84vh;
    }
    .modal .modal-content {
        max-height: 95vh;
        height: 95vh;
    }
    .modal {
        align-items: flex-end;
    }
    .content-text h5 {
        padding: 40px 0px 15px 0px;
    }
    .payments-balance .wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    h4 {
        font-size: 18px;
    }
    .data-profile .wrapper {
        overflow-x: scroll;
    }
    .header {
        margin: 0px 0px 16px 0px;
        border-radius: 0 0 10px 10px;
        width: 100%;
    }
    .info-profile .cart .avatar {
        border-radius: 10px;
    }
    .head-profile h3 {
        margin: 0px 0px 20px 0px;
    }
    .wrapper {
        padding: 20px 20px 30px 20px;
    }
    .enter-page .mw700,
    .modal .mw700 {
        width: 100%;
    }
    .enter-page,
    .modal {
        padding: 0px 0px;
    }

    .payments-balance .right form input[type="submit"] {
        min-width: 100%;
    }
    .payments-balance .right form input[type="number"] {
        width: 100%;
    }
    .payments-balance .right {
        .input-container {
            min-width: 320px;
        }
        min-width: 100%;
        form {
            flex-direction: column;
            gap: 10px;
            width: 100%;
        }
    }
    .payments-balance .right form .button-primary {
        min-width: 320px;
    }
    .footer .wrapp.mob .left,
    .footer .wrapp.mob .right {
        gap: 0px;
        justify-content: space-around;
    }
    .edit-profile .wrapper {
        margin: 20px 20px 0px 20px;
    }
    .sertificats-profile .items {
        margin: 40px 0px 0px 0px;
        //justify-content: center;
    }
    
    .chat .agent-info .avatar img{
        width: 64px;height: 64px;
    }
    .sertificats-profile .item {
        width: 154px;
        height: 230px;
    }
    .param-profile .subtitle {
        padding: 5px 20px;
    }

    .param-profile .subtitle {
        top: 65px;
    }
    .param-profile h3 {
        margin: 0px 0px 70px 0px;
    }
    .param-profile .item {
        flex-direction: column;
        padding: 15px 0px;
    }

    .head-profile ul {
        min-width: 400px;
    }
    .head-profile {
        .container {
            .wrapper {
                overflow: hidden;
            }
        }
    }
    .container {
        margin: 0px;
    }
    h3 {
        font-size: 22px;
    }
    .page-head .wrapper,
    .head-profile .wrapper {
        padding: 30px 0px 10px 20px;
    }
    .payments-balance .wrapper {
        padding: 20px 20px 20px 20px;
    }
    .payments-story .wrapper {
        padding: 20px 0px 0px 0px;
    }
    .payments-story h4 {
        padding: 0px 20px 20px 20px;
    }
    .payments-story .list-header {
        padding: 15px 20px;
    }
    .payments-story .date {
        padding: 5px 20px;
    }
    .payments-story li {
        margin: 0px 20px;
    }
    .modal .modal-content {
        min-width: 100%;
    }
    .form .input-container {
        width: 100%;
    }
    .button-primary.w370 {
        width: 100%;
    }
    .payments-balance .right form .button-primary.fit-content {
        width: 100%;
    }
    .content-text {
        // padding: 20px;
        //max-height: 87vh;
        max-width: 100vw;
        padding: 20px 10px 0px 20px;

        color: var(--Text-Grey_Dark, #3b4a69);

        /* Platform/Mobile/Body-1 R */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }
    .modal .modal-content {
        padding: 16px 0px 0px 0px;
        height: calc(100vh - 36px);
        max-height: calc(100vh - 36px);
        min-height: calc(100vh - 36px);
    }
    .content-text p span {
        padding: 0px 0px 10px 0px;
    }
    .enter-page .form.custom,
    .registration-page .form.custom {
        padding: 40px 20px;
    }
    .enter-page .form,
    .registration-page .form {
        padding: 20px;
    }
    .enter-page .wrapper {
        margin: 0px 0px 16px 0px;
    }
    .create-app .cancel,
    .create-profile-realtor .cancel {
        svg {
            width: 20px;
            height: 20px;
        }
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 14px;
        top: 40px;
    }
    .create-app .head,
    .create-profile-realtor .head {
        height: auto;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding: 20px 0px 16px 0px;
        margin: 20px 0px 16px 0px;
    }
    .create-app .id-realtor,
    .create-profile-realtor .id-realtor {
        margin: 0px 0px 0px 20px;
    }
    .create-app .form.gap,
    .create-profile-realtor .form.gap {
        .row {
            flex-direction: column;
        }
    }
    h5 {
        color: var(--Text-Black, #2a344a);

        /* Platform/Mobile/H-5 M */
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 21.6px */
    }
    .create-app h5,
    .create-profile-realtor h5 {
        margin: 10px 0px -5px 0px;
    }
    .create-app .gap,
    .create-profile-realtor .gap {
        padding: 20px;
    }
    .form textarea {
        padding: 30px 20px 18px 20px;
        line-height: 120%;
    }
    .add-video {
        justify-content: center;
        width: 100%;
        margin: 20px 0px 0px 0px;
    }
    .video-form {
        flex-direction: column;
    }
    .enter-page .form input,
    .modal .form input {
        width: 100%;
    }
    .enter-page .container {
        margin: 0px 0px 16px 0px;
    }
    .applications-menu .statistic {
        display: none;
    }
    .applications-menu .nav-metod {
        margin: 0px 0px 0px 0px;
    }
    .vertical {
        .page-head h3 {
            margin: 0px 0px 16px 0px;
        }
        .client-card .card-body {
            padding: 15px 0px 15px 0px;
        }
        .client-card h5 {
            font-size: 18px;
        }
        .client-card .dashboard {
            .button-primary {
                width: 100%;
            }
            min-width: 100%;
        }
        .client-card .card-footer {
            padding: 15px 0px 0px 0px;
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }
        .card-status {
            display: none;
        }
        .client-card {
            padding: 15px 20px 20px 20px;
        }
        .client-card .views {
            margin: 0px 0px 0px auto;
        }
        .client-card .right {
            min-width: 100%;
            justify-content: space-between;
        }
        .client-card .left {
            display: none;
        }
    }
    .applications-menu .wrapp {
        margin: -20px 0px 0px 0px;
        min-height: 55px;
    }
    .search-mob {
        margin: 0px 0px 0px 0px;
    }
    .vertical .page-head .wrapper {
        padding: 20px 0px 10px 20px;
    }
    .vertical .page-head ul li {
        line-height: 20px; /* 125% */
    }
    .button-secondary {
        min-width: 100%;
    }
    .sidebar h5 {
        span {
            svg {
                margin: 0px 0px -3px 0px;
            }
            display: inline-block;
            margin-right: 2px;
        }
        font-size: 18px;
        //align-items: start;
        display: inline-block;
        max-width: 100%;
    }
    .sidebar h5 .app-id {
        span {
            display: none;
        }
        position: absolute;
        right: 20px;
        top: 53px;
    }
    .create-app .cats.row {
        flex-wrap: wrap;
    }
    .create-app .wrapper.xscroll {
        .row {
            padding: 0px 0px 20px 20px;
            max-width: 100vw;
        }
    }
    .create-app .form.start {
        flex-direction: column;
    }
    .create-app .custom-selects .select-placeholder {
        .dt-op {
            display: none;
        }
    }
    .create-app h5.mbott {
        margin-bottom: -5px;
    }
    .create-app .column-hide {
        max-height: 150px;
    }
    .create-app .column {
        padding: 20px;
    }
    .create-app .cats.row {
        padding: 20px 20px 20px 20px;
    }
    .create-app .form .input-container .placeholder {
        line-height: 1.2;
    }
    .create-app .form .input-container .placeholder {
        br {
            display: inline-block;
        }
    }
    .create-app {
        .info-profile .cart {
            .avatar {
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }
            h5 {
                margin: 0px 0px 0px 0px;
            }
            flex-direction: row;
            gap: 15px;
        }
        h5 {
            padding: 0px 20px;
        }
        .form .chek-lists-single {
            min-width: 100%;
        }
    }
    .create-app .wrapper.xscroll::after {
        top: 20px;
    }
    .select-container-single.currency {
        min-width: 100%;
    }
    .page-head ul li,
    .head-profile ul li {
        white-space: nowrap;
    }
    .my-apps.applications {
        padding: 50px 0px 140px 0px;
    }
    .page-head h3,
    .head-profile h3 {
        margin: 0px 0px 10px 0px;
    }
    .my-apps.applications .client-card .options {
        padding: 0px 0px 15px 0px;
    }
    .client-card .dashboard,
    .my-apps.applications .button-apps {
        min-width: 100%;
    }
    .my-apps.applications .client-card .card-footer {
        padding: 15px 0px 0px 0px;
    }
    .my-apps {
        .client-card .left.true {
            min-width: calc(100% - 59px);
            margin: 0px 0px 0px 57px;
        }
        .client-card .left {
            min-width: 100%;
        }
        .client-card .date-create {
            margin: 0px auto 0px 0px;
        }
        .client-card .right {
            min-width: 100%;
            justify-content: space-between;
        }
        .client-card .card-head {
            flex-direction: column-reverse;
            gap: 15px;
        }
        .card-footer {
            flex-direction: column;
            align-items: start;
            gap: 15px;
        }
        .card-status {
            display: none;
        }
        .client-card {
            padding: 15px 20px 20px 20px;
        }
        .page-head {
            .wrapper {
                padding: 30px 0px 10px 20px;
            }
        }
    }
    .page-head ul li,
    .head-profile ul li {
        line-height: 26px;
    }
    section {
        margin: 0px 0px 16px 0px;
    }
    .proposal .open .button-primary.tel {
        padding: 8px 10px;
    }
    .sidebar li,
    .my-objects .options li {
        gap: 20px;
    }
    .sidebar .title {
        min-width: 110px;
        max-width: 110px;

    }
    .enter-page.create-app {
        .wrapper:first-child {
            border-radius: 10px;
        }
    }
    .create-app .show-more{
        padding: 0px 20px 20px 20px;
    }
    .my-objects,
    .proposals {
        .contact-buttons a {
            font-size: 0;
            gap: 0;
            padding: 8px 12px;
        }
        .proposal .p-footer .to-favorit {
            display: none;
        }
        // .proposal .p-footer .right{
        //    margin: 0px 0px 0px auto;
        // }

        .proposal .p-footer {
            justify-content: flex-start;
            gap: 10px;
        }
        .proposal {
            padding: 10px 20px 10px 20px;
        }
        .proposal .options {
            display: none;
        }
        .options .title {
            min-width: 110px;
            width: 110px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
        .options li {
            padding: 15px 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
        .date-create {
            position: absolute;
            top: 42px;
            left: 0;
        }
        .head {
            position: relative;
            white-space: nowrap;
            margin: -20px 0px 0px 0px;
            padding: 10px 0px 33px 0px;
        }
        .dashboard {
            .price {
                font-size: 21px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                gap: 3px;
            }
            flex-direction: column;
            gap: 15px;
            align-items: start;
            padding: 15px 0;
        }
        .page-head h3 {
            margin: 0px 0px 8px 0px;
        }
        .page-head .wrapper {
            padding: 30px 0px 10px 20px;
        }
        .wrapper {
            padding: 20px;
        }
        padding: 50px 0px 140px 0px;
    }
    .data-profile .wrapper {
        -webkit-user-select: none;
        -moz-user-select: none;
        overflow-x: auto;
        overflow-y: hidden; /* Отключаем вертикальный скролл */
        -ms-overflow-style: none; /* IE и Edge */
        scrollbar-width: none; /* Firefox */
    }
    .create-profile-realtor .head h3 {
        margin: 0px 40px 0px 0px;
    }
    .messeger .wrapp {
        padding: 0px 0px 150px 0px;
        max-height: calc(100vh - 200px);
        min-height: calc(100vh - 200px);
    }
    .sidebar .options.orta {
        max-height: calc(100vh - 200px);
        min-height: calc(100vh - 200px);
    }
    .chat .agent-info .button-primary {
        padding: 8px 20px;
    }

    .create-app .column-hide {
        max-height: 150px;
    }
    .header {
        padding: 10px 20px;
    }
    main .wrapper {
        padding: 20px;
    }
    .enter-page .wrapper {
        &:first-child {
            border-radius: 0 0 10px 10px;
        }
    }
    .modal .modal-content {
        margin: 0px 0px 0px 0px;
        border-radius: 10px 10px 0 0;
    }
    .content-text {
        min-height: calc(100vh - 120px);
        max-height: calc(100vh - 120px);
        padding: 20px 10px 10px 20px;
    }
    .modal h3 {
        padding: 0px 50px 0px 20px;
    }
    .modal .mw460 {
        width: 100%;
    }
    .info-profile {
        h4 {
            font-size: 22px;
        }
    }
    .param-profile ul li,
    .param-profile .item .title {
        font-size: 14px;
    }
    .data-profile .wrapper {
        padding: 20px;
    }
    .safety ul li {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .safety .title br {
        display: block;
    }
    .safety .title {
        min-width: 110px;
    }
    .safety .for-mob {
        .tel {
            line-height: 24px;
        }
        gap: 20px;
    }
    .notifications .title {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
    .notifications .edit {
        margin: 5px 0px 0px 0px;
    }
    .notifications li {
        align-items: start;
    }
    .modal .form {
        padding: 40px 20px;
    }
    .proposal .open .button-primary.tel,
    .my-objects .contact-buttons a,
    .proposals .contact-buttons a {
        padding: 8px;
        min-width: 40px;
    }
    .edit-profile .wrapper {
        padding: 0;
        min-height: 40px;
    }
    .day-list .day {
        margin: 15px 0px 0px 0px;
    }
    .messeges li {
        .avatar {
            display: none;
        }
    }
    .application-card .sidebar {
        margin: 0px 0px 0px 0px;
    }
    .messeger {
        padding: 0px 10px 10px 10px;
    }
    .messeger .wrapp {
        overflow-y: scroll; /* Сохраняем возможность вертикальной прокрутки */
        scrollbar-width: none; /* Скрываем скроллбар в Firefox */
        -ms-overflow-style: none; /* Скрываем скроллбар в IE и Edge */

        &::-webkit-scrollbar {
            width: 0; /* Скрываем скроллбар в WebKit-браузерах (Chrome, Safari) */
        }
    }
    .page-head .forline::after {
        //width: calc(100% - 20px);
    }
    .client-card .options ul {
        min-width: 70vw;
        -webkit-user-select: none;
        -moz-user-select: none;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .sidebar .options li:last-child {
        flex-direction: column;
        gap: 8px;
    }
    .sidebar .options.min {
        max-height: calc(100vh - 350px);
        min-height: calc(100vh - 350px);
    }
    .safety .for-mob {
        align-items: start;
    }
    .create-app .head h3 {
        margin: 0px 50px 0px 0px;
    }
    .enter-page{
        padding: 0px 0px 72px 0px;
    }
    .about-profile .text {
       
        -webkit-line-clamp: 10;
       
    }
}
@media (max-width: 639px) {
    .sidebar .app-from .top.kustom {
        border-bottom: none;
    }
    .sidebar .options.max.min {
        max-height: calc(100vh - 235px);
        min-height: calc(100vh - 235px);
    }
    .sidebar .options.max {
        max-height: calc(100vh - 490px);
        min-height: calc(100vh - 490px);
    }
    .sidebar .butt-open.active {
        position: absolute;
        right: 20px;
        top: calc(50% - 10px);
    }
    .sidebar .app-from .top {
        position: relative;
        flex-direction: column;
        gap: 8px;
    }
    .info-profile .cart .avatar img {
        width: 100%;
    }
    .info-profile .cart .avatar {
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
    }

    .info-profile .cart .id-info {
        position: relative;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .info-profile .cart {
        flex-direction: column;
    }
    .sidebar .options.orta {
        max-height: calc(100vh - 235px);
        min-height: calc(100vh - 235px);
    }
}
