.testselects {
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.custom-selects {
    .row {
        min-width: 100%;
    }
}
.custom-select-container {
    min-width: 100%;

    .select-wrapper {
        &:hover {
            border: 2px solid var(--Fields-Stroke-Hover, #cddef4);
        }
        border-radius: var(--Corner_radius_m, 10px);
        border: 2px solid var(--Fields-Stroke, #e1edfd);
        background: var(--Fields-Form, #fff);
        padding: 18px 20px;

        position: relative;
        z-index: 1;
    }
    &.active {
        .custom-select {
            svg {
                transform: rotate(180deg);
            }
        }
        .select-wrapper {
            border: 2px solid var(--Fields-Stroke-Focused, #4e6af3);
        }

        z-index: 9999;
    }
    position: relative;
    //z-index: 22;
    width: 100%;

    .select-placeholder {
        transition: 0.1s;
        z-index: 8;
        &.active {
            top: 8px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
        position: absolute;
        left: 20px;
        top: 18px;
        color: var(--Fields-Title, #7786a5);

        /* Fields/Placeholder */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        span {
            color: var(--Text-Error, #f34942);
        }
    }

    .custom-select {
        position: relative;
        z-index: 9;
        width: 100%;
        cursor: pointer;
        //background: #7786a5;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .custom-options {
        h4 {
            padding: 12px 20px 4px 20px;
            color: var(--Text-Grey, #7786a5);
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 166.667% */
            letter-spacing: 1.44px;
            text-transform: uppercase;
        }
        margin: -3px 0px 0px 0px;
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        max-height: 400px;
        overflow-y: auto;
        z-index: 0;

        border-radius: 0 0 10px 10px;
        border-right: 2px solid #e1edfd;
        border-bottom: 2px solid #e1edfd;
        border-left: 2px solid #e1edfd;
        background: var(--BG-White, #fff);

        &.open {
            display: block;
        }
    }

    .custom-option {
        /* Создаем кастомный чекбокс */
         input[type="checkbox"] + label {
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            //font-size: 16px;
            //color: #333;
        }

        /* Стиль кастомного чекбокса */
         input[type="checkbox"] + label:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border: 2px solid #C7D2E9;
            border-radius: 4px;
            background-color: #fff;
        }

        /* Отмеченное состояние кастомного чекбокса */
         input[type="checkbox"]:checked + label:before {
            background-color: #4E6AF3;
            border-color: #4E6AF3;
        }

        /* Галочка в кастомном чекбоксе */
         input[type="checkbox"]:checked + label:after {
            content: "";
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
            background: url('../img/chek.svg') no-repeat;
            // border-right: 2px solid #fff;
            // border-bottom: 2px solid #fff;
        }

        /* Состояние при наведении */
         input[type="checkbox"] + label:hover:before {
           // border-color: #555;
        }

        input {
            &[type="checkbox"] {
                // width: 20px;
                // height: 20px;
                display: none;
            }
        }
        display: flex;
        align-items: center;
        gap: 10px;
        //padding: 10px;
        padding: 13px 20px 14px 20px;
        color: var(--Text-Black, #2a344a);

        /* Platform/Button Link/Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */

        cursor: pointer;

        &:hover {
            //background-color: #f0f0f0;
            background: var(--Stroke-Divider_form, #f1f7ff);
        }
    }

    .selected-items {
        &.active {
            padding: 10px 0px 0px 0px;
        }
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        //padding: 15px 0px 0px 0px;

        .selected-item {
            color: var(--Text-Black, #2a344a);

            /* Platform/Button Link/Small */
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 114.286% */
            // margin: 10px 0px 0px 0px;
            border-radius: 5px;
            border: 1px solid var(--Stroke-Divider, #e1edfd);
            background: var(--BG-White, #fff);

            display: flex;
            padding: 7px 10px;
            align-items: center;
            gap: 5px;

            span {
                //color: #7786a5;
                //margin-right: 5px;
                display: flex;
                align-items: center;
            }

            .remove-item {
                cursor: pointer;
            }
        }
    }

    .search-input {
        &.active {
            &.hide {
                display: none;
            }
            display: block;
        }
        display: none;
        width: 30%;
        //padding: 5px 0px;
        position: absolute;
        top: 24px;
        left: 22px;
        z-index: 99;
        font-size: 16px;
        line-height: 30px;
    }

    .no-results {
        padding: 10px;
        text-align: center;
        display: none;
    }
}
